*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor2:#E89D4A;
    --cor3:#FD5F85;
    --cor1:#50D6EE;
    --corpadrao:#B4B6BA;
}
.arealogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 75px;
    height: 75px;
    margin: 15px;
}
.line{
    width:60vw;
    height: 2px;
    background-color: var(--cor2);
    margin: 20px;
    border-radius: 10px;
}
.area{
    display: block;
    max-width: 100vw;
}
.projetos{
    width: 350px;
    height: 300px;
    border: 1px dashed black;
    margin-bottom: 5px;
}
/*botoes*/
.button{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor2);
    height: 50px;
    width: 150px;
    border-radius: 100px;
    border: 1.5px solid var(--cinza5);
    transition-duration: 1s;
    font-weight: bold;
    color: var(--cinza5);
    text-decoration: none;
}
.button:hover{
    background-color: var(--cor3);
}
/*cabeça*/
header{
    background-color: var(--cor1);
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#menu a{
    width: 100px;
    height: 25px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*corpo*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corpadrao);
}
#inicio{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio div{
    height: 250px;
    width: 275px;
    margin: 10px;
    padding: 10px;
    background-color: var(--cinza0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#inicio #perfil{
    background-image: url('imagens/tratadas/astronaut.500x500.webp');
    background-size: cover;
}
#inicio #apresentação{
    background-color: var(--cor1);
    width: 100vw;
    border-radius: 10px;
}
#inicio #apresentação h1{
    margin-bottom: 25px;
    font-size: 2.2em;
}
#inicio #apresentação p{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.2em;
}
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    margin: 30px;
}
